.navbar{
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #1A1E30;
}
.navbar-logo{
  color: #FAFAFA;
  font-size: 30px;
}

.navbar-menu-item{
  color: #A3A9BB;
  font-size: 14px;
}

.navbar-menu-item:hover, .navbar-menu-item:focus{
  color: #29E3A8;
  font-size: 14px;
}

.navbar-menu-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20%;
  padding-right: 30px;
}